.border {
    display: inline-block;
    width: 100%;
    height: 85px;
    margin: 6px;
    margin-left: 0px;
  }

  .border1 {
  	margin-left: 220px;
  }

  .slide-box {
  	height: 600px;
    background-color: red;
  }

  .msg-box {
  	height: 10px;
    background-color: yellow;
  }